*{
    box-sizing: border-box;
}
:root
{
    --dark-p: #6567AD;
    --default-br: 0.4rem;
    --grey: #747474;
    --light-p: #a8a9d0;
    --mint: #a3f0d5;
    --yellow: #dec865;
}
p
{
    margin: 0;
}
html
{
    height: 100%;
    width: 100%;
}
body
{
    background-color: #ececec;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 1.5rem 3rem;
    width: 100%;
} 
header
{
    align-items: center;
    background-color: #FFF;
    border-radius: var(--default-br);
    display: flex;
    font-size: 1.8rem;
    height: 12%;
    justify-content: space-between;
    padding: 0 2.5rem;
    margin-bottom: 2rem;
}
.account
{
    display: flex;
    align-items: center;
}
.logo
{
    height: 8.5rem;
}
.exit-button, .edit-delete-button
{
    background-color: #FFF;
    border: none;
}
.exit-button:hover, .edit-delete-button:hover, .tweet-comment-button:hover, .show-more-button:hover,
.logo:hover, .reset-button:hover, .filter-button:hover, .log-in-button:hover, .sign-up-button:hover,
.log-in-button-aut:hover, .sign-up-button-reg:hover
{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}
#exit
{
    height: 3.5rem;
    width: 3.5rem;
    color: var(--dark-p);
}
#main{
    height: 78%;
}
#mainPage
{
    display: flex;
}
#tweetPage
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.left-side
{
    margin-right: 2rem;
    width: 80%;
}
#enter-area
{
    background-color: #FFF;
    border: none;
    border-radius: var(--default-br);
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    outline: none;
    padding: 1rem 1rem;
    width: 100%;
}
#enter-area-twit
{
    background-color: #FFF;
    border: none;
    border-radius: var(--default-br);
    margin-top: 1rem;
    outline: none;
    padding: 1rem 1rem;
    width: 100%;
}
#enter-area-txt
{
    border: none;
    font-size: 1.2rem;
    outline: 0;
    resize: none;
    width: 100%;
}
.tweet-comment-button, .show-more-button, .sign-up-button, .sign-up-button-reg
{
    background-color: var(--dark-p);
    border: none;
    border-radius: 0.3rem;
    color: #FFF;
    font-size: 1.3rem;
    padding: 0.2rem 0.4rem;
}
.log-in-button, .log-in-button-aut
{
    background-color: var(--light-p);
    border: none;
    border-radius: 0.3rem;
    color: #FFF;
    font-size: 1.3rem;
    padding: 0.2rem 0.4rem;
}
#plus, #arrow
{
    color: var(--mint);
    height: 1.2rem;
    width: 1.2rem;
}
article
{
    align-items: center;
    display: flex;
    background-color: #FFF;
    border-radius: var(--default-br);
    flex-direction: column;
    max-height: 35rem;
    min-height: 28rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem 2rem;
}
#article-twit
{
    max-height: 25rem;
    min-height: 15rem;
    width: 100%;
}
.twit
{
    background-color: #FFF;
    border-radius: var(--default-br);
    box-shadow: 0 0 0.35rem var(--light-p);
    padding: 1rem 1rem;
    margin: 1rem;
    width: 100%;
}
.twit:hover
{
    box-shadow: 0 0 0.35rem var(--dark-p);
}
#twit:hover
{
    box-shadow: 0 0 0.35rem var(--light-p);
}
.twit-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
#user-photo
{
    height: 2rem;
    width: 2rem;
}
.name-date
{
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
.post-date
{
    color: var(--light-p);
    font-size: 0.8rem;
}
#edit, #delete
{
    color: var(--light-p);
    height: 1.8rem;
    width: 1.8rem;
}
.text
{
    margin-bottom: 1rem;
}
.hashtag
{
    color:var(--yellow)
}
.comments, .from-to
{
    background-color: var(--light-p);
    border-radius: 10rem;
    color: #FFF;
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
}
#comment
{
    color: #FFF;
    height: 1.2rem;
    width: 1.2rem;
}
nav
{
    align-items: center;
    background-color: #FFF;
    border-radius: var(--default-br);
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    padding: 2rem 2rem;
    width: 20%;
}
.authors-form
{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter-header
{
    background-color: var(--dark-p);
    border-radius: var(--default-br);
    color: #FFF;
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    width: 100%;
}
.form
{
    align-items: center;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: var(--default-br);
    box-shadow: 0 0 0.35rem var(--light-p);
    font-size: 1rem;
    margin: 0.5rem;
    outline: none;
    width: 100%;
}
.reset-button
{
    background-color: var(--dark-p);
    border: none;
    border-radius: 0.3rem;
    color: #FFF;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;
}
.from-to
{
    margin: 0.5rem;
}
.date
{
    border: none;
    box-shadow: 0 0 0.35rem var(--light-p);
    font-size: 1rem;
    margin: 0rem 0rem;
    outline: none;
    width: 80%;
}
.text-area
{
    border: none;
    box-shadow: 0 0 0.35rem var(--light-p);
    font-size: 1rem;
    margin: 0rem 0rem;
    outline: none;
    width: 100%;
}
.filter-button
{
    background-color: var(--mint);
    border: none;
    border-radius: 10rem;
    color: #FFF;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0.2rem 0.8rem;
}
footer
{
    align-items: center;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 5%;
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
}
#registrationPage, #authorizationPage, #errorPage
{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 7rem 0rem;
    width: 100%;
}
#window
{
    align-items: center;
    background-color: #FFF;
    border-radius: var(--default-br);
    box-shadow: 0 0 0.35rem var(--light-p);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3rem;
    width: 30%;
}
.input-field
{
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.35rem var(--light-p);
    font-size: 1rem;
    margin-bottom: 1.2rem;
    outline: none;
    padding: 0.3rem 0.2rem;
    width: 100%;
}
#reset-filter-button{
    background-color: rgba(255, 91, 91, 0.687);
    margin-bottom: 1rem;
}